<section ng-controller="ExampleController">
    <input type="text" id="text1" ng-model="name">
    <input type="text" id="text2" ng-model="name">

    <video poster="" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button -->
<source src="assets/video/0.webm" type="video/webm">
    </video>

</section>