   /* Style for our header texts in home
	* --------------------------------------- */
   
   .title_section0 {
       font-size: 5em;
       font-family: Roboto, arial, helvetica;
       font-weight: 300;
       color: #fff;
       margin: 0;
       padding: 0;
   }
   
   .subTitle_section0 {
       font-family: Roboto, arial, helvetica;
       font-weight: 300;
       color: #fff;
       margin: 0;
       padding: 0;
   }
   /* Centered texts in each section
	* --------------------------------------- */
   
   .section {
       text-align: center;
       overflow: hidden;
       padding: 50px;
   }
   
   #myVideo {
       position: absolute;
       right: 0;
       bottom: 0;
       top: 0;
       right: 0;
       width: 100%;
       height: 100%;
       background-size: 100% 100%;
       background-color: black;
       /* in case the video doesn't fit the whole page
            background-image: /* our video 
            ;*/
       background-position: center center;
       background-size: contain;
       object-fit: cover;
       /*cover video background */
       z-index: 3;
       background-attachment: scroll;
   }
   /* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
   
   #section0 .layer {
       position: absolute;
       z-index: 4;
       width: 100%;
       left: 0;
       top: 43%;
       /* 
		* Preventing flicker on some browsers 
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
       -webkit-transform: translate3d(0, 0, 0);
       -ms-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
   }
   /*solves problem with overflowing video in Mac with Chrome */
   
   #section0 {
       overflow: hidden;
   }
   /* Bottom menu
	* --------------------------------------- */
   
   #infoMenu li a {
       color: #000;
   }
   /* Hiding video controls 
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
   
   video::-webkit-media-controls {
       display: none !important;
   }
   /* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
   
   .fp-tooltip {
       color: #000;
   }
   
   #fp-nav ul li a span,
   .fp-slidesNav ul li a span {
       border-color: #000;
       background: #000;
   }
   
   #fp-nav li .active span,
   .fp-slidesNav .active span {
       background: #000;
   }
   /* Backgrounds will cover all the section
	* --------------------------------------- */
   /* .section {
       background-size: cover;
   }
   /* Defining each section background and styles
	* --------------------------------------- */
   /* #section1 {
       background-image: url(../assets/imgs/2.jpg);
   }*/
   /************************************************
    *****************  General ************************/
   
   .picture {
       border-radius: 3px;
   }
   
   .responsive {
       max-width: 100%;
   }
   
   .pageFooter {
       right: 0;
       bottom: 0;
       left: 0;
       padding: 1rem;
   }
   
   .pageFooter1 {
       position: absolute;
       right: 0;
       bottom: 0;
       left: 0;
       padding: 1rem;
   }
   
   .socialLinks {
       margin: 10px;
       font-size: 25px;
       color: #000
   }
   /************************************************
    *****************  Home ************************/
   /************************************************
    *****************  About ************************/
   
   .mainDiv {
       width: 90%;
       margin: auto
   }
   
   .leftDiv {
       width: 33%;
       float: left;
   }
   
   .rigthDiv {
       width: 63%;
       float: right;
   }
   
   .canvasGraph {
       max-width: inherit;
       max-height: inherit;
       /*max-height: 400px;*/
       color: #fff;
       padding: 20px;
       border-radius: 3px;
       margin: auto;
   }
   
   .about_Title {
       font-size: 4em;
       font-family: Roboto, arial, helvetica;
       font-weight: 300;
       color: #fff;
       margin: 0;
       padding: 0;
   }
   
   .about_Text {
       font-size: 1.2em;
       font-family: Roboto, arial, helvetica;
       font-weight: 100;
       color: #fff;
       margin: 0;
       padding: 0;
   }
   
   .about_subTitle {
       font-size: 2em;
       font-family: Roboto, arial, helvetica;
       font-weight: 100;
       color: #fff;
       margin-bottom: 20px;
       padding: 0;
   }
   
   .about_Title_b {
       font-size: 4em;
       font-family: Roboto, arial, helvetica;
       font-weight: 300;
       color: #000;
       margin: 0;
       padding: 30px;
   }
   
   .about_Text_b {
       font-size: 1.2em;
       font-family: Roboto, arial, helvetica;
       font-weight: 100;
       color: #000;
       margin: 0;
       padding: 0;
   }
   
   .about_subTitle_b {
       font-size: 2em;
       font-family: Roboto, arial, helvetica;
       font-weight: 100;
       color: #000;
       margin-bottom: 20px;
       padding: 0;
   }
   /*************************
********* Portfolio CSS ******
**************************/
   
   .nopadding {
       padding: 0 !important;
       margin: 0 !important;
   }
   
   #portfolio_page {
       margin-top: 115px;
       padding-bottom: 0;
   }
   
   .portfolio-items,
   .portfolio-filter {
       list-style: none outside none;
       margin: 0 0 40px 0;
       padding: 0;
   }
   
   .portfolio-filter>li {
       display: inline-block;
   }
   
   .portfolio-filter>li a {
       background: none repeat scroll 0 0 #FFFFFF;
       font-size: 14px;
       font-weight: 400;
       margin-right: 20px;
       text-transform: uppercase;
       transition: all 0.9s ease 0s;
       -moz-transition: all 0.9s ease 0s;
       -webkit-transition: all 0.9s ease 0s;
       -o-transition: all 0.9s ease 0s;
       border: 1px solid #F2F2F2;
       outline: none;
       border-radius: 3px;
   }
   
   .portfolio-filter>li a:hover,
   .portfolio-filter>li a.active {
       color: #fff;
       background: #537CCD;
       border: 1px solid #537CCD;
       box-shadow: none;
       -webkit-box-shadow: none;
   }
   
   .portfolio-items>li {
       float: left;
       padding: 0;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
   
   .portfolio-item {
       margin: 0;
       padding: 0;
       max-width: 250px;
   }
   /* Start: Recommended Isotope styles */
   /**** Isotope Filtering ****/
   
   .isotope-item {
       z-index: 2;
   }
   
   .isotope-hidden.isotope-item {
       pointer-events: none;
       z-index: 1;
   }
   /**** Isotope CSS3 transitions ****/
   
   .isotope,
   .isotope .isotope-item {
       -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
       -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
       transition-duration: 0.8s;
   }
   
   .isotope {
       -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
       -ms-transition-property: height, width;
       -o-transition-property: height, width;
       transition-property: height, width;
   }
   
   .isotope .isotope-item {
       -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property: -moz-transform, opacity;
       -ms-transition-property: -ms-transform, opacity;
       -o-transition-property: -o-transform, opacity;
       transition-property: transform, opacity;
   }
   /**** disabling Isotope CSS3 transitions ****/
   
   .isotope.no-transition,
   .isotope.no-transition .isotope-item,
   .isotope .isotope-item.no-transition {
       -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
       -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
       transition-duration: 0s;
   }
   /* End: Recommended Isotope styles */
   /* disable CSS transitions for containers with infinite scrolling*/
   
   .isotope.infinite-scrolling {
       -webkit-transition: none;
       -moz-transition: none;
       -ms-transition: none;
       -o-transition: none;
       transition: none;
   }
   
   #recent-works .col-xs-12.col-sm-4.col-md-3 {
       padding: 0;
   }
   
   #recent-works {
       padding-bottom: 70px;
   }
   
   .recent-work-wrap {
       position: relative;
       max-width: 250px;
   }
   
   .recent-work-wrap img {
       width: 100%;
   }
   
   .recent-work-wrap .recent-work-inner {
       top: 0;
       background: transparent;
       opacity: .8;
       width: 100%;
       border-radius: 0;
       margin-bottom: 0;
   }
   
   .recent-work-wrap .recent-work-inner h3 {
       margin: 10px 0;
   }
   
   .recent-work-wrap .recent-work-inner h3 a {
       font-size: 24px;
       color: #fff;
   }
   
   .recent-work-wrap .overlay {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       border-radius: 0;
       background: #537CCD;
       color: #fff;
       vertical-align: middle;
       -webkit-transition: opacity 500ms;
       -moz-transition: opacity 500ms;
       -o-transition: opacity 500ms;
       transition: opacity 500ms;
       padding: 30px;
   }
   
   .recent-work-wrap .overlay .preview {
       bottom: 0;
       display: inline-block;
       height: 35px;
       line-height: 35px;
       border-radius: 0;
       background: transparent;
       text-align: center;
       color: #fff;
   }
   
   .recent-work-wrap:hover .overlay {
       opacity: 1;
   }