<section id="projects">
    <h1 class="projects_Title_b">Projects</h1>
    <!-- projects slider -->
    <div>
        <div class="sliderR">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" class="img-carousel-b">
                </div>
            </div>
        </div>
    </div>
    <!--/#projects-slider-->
    <div class="projects_main">
        <h3>{{info.proyecto}}</h3>
        <div class="proyectosFont">
            <p><b>The app:</b> {{info.app}} </p>
            <p><b>The technologies: </b>{{info.technologies}} </p>
            <p><b>The link: </b><a href="{{info.link}}">{{info.link}}</a></p>
        </div>
    </div>
    <div class="projects_padding">
        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default" data-ng-click="backLinkClick()" href="/">Back</a></li>
        </ul>
    </div>
</section>