<!DOCTYPE html>
<html>

<head>

    <title>Diego Rodríguez</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/portafolio.js"></script>

</head>

<body>
    <div id="fullpage">
        <div class="section " id="section0">
            <video poster="assets/imgs/background.png" id="myVideo" loop muted data-autoplay>
                <source src="assets/video/b.mp4" type="video/mp4">
                <source src="assets/video/b.webm" type="video/webm">
		    </video>
            <div class="layer">
                <h1 class="title_section0">Diego Rodríguez</h1>
                <h3 class="subTitle_section0">Software Engineer</h3>
            </div>
        </div>
        <div class="section" id="section1">

            <h1 class="about_Title_b">About</h1>
            <!-- <div style="background-color: #FFF;height: 2px;width: 60%;margin:20px auto 40px auto; "></div> -->
            <div class="leftDiv">
                <h3 class="about_subTitle_b">Me</h3>
                <img class="picture" src="assets/imgs/pic.png">

                <p class="about_Text_b">I’m a software developer based on Toronto, passionate about software and technology, love front and back end development likewise, however more important interested in problem solving.</p>
            </div>
            <div id="rigthDivId" class="rigthDiv">
                <h3 class="about_subTitle_b">My skills</h3>

                <canvas id="myChart"></canvas>

                <!--    <img class="picture responsive" src="assets/imgs/chart1.png">-->

            </div>

            <div class="pageFooter">
                <a class="socialLinks" href=""><i class="fa fa-github"></i></a>
                <a class="socialLinks" href=""><i class="fa fa-linkedin" ></i></a>
            </div>
        </div>
        <div class="section" id="section2">
            <div style="width: 90%; margin:auto">
                <h1 class="about_Title_b">About</h1>
                <div style="background-color: #000;height: 2px;width: 60%;margin:20px auto 40px auto; "></div>
                <div style="width: 33%;float:left;">
                    <h3 class="about_subTitle_b">Me</h3>
                    <img class="picture" src="assets/imgs/pic.png">

                    <p class="about_Text_b">I’m a software developer based on Toronto, passionate about software and technology, love front and back end development likewise, however more important interested in problem solving.</p>
                </div>
                <div style="width: 63%;float:right;">
                    <h3 class="about_subTitle_b">Skills</h3>
                    <div style="max-width: 500px;  max-height:500px; background-color:#FFF;padding:20px;border-radius: 3px;  ">
                        <canvas id="myChart"></canvas>
                    </div>
                    <!-- <img class="picture responsive" src="assets/imgs/chart.png"> -->

                </div>
            </div>
            <div style="position: absolute; right: 0;  bottom: 0;  left: 0;  padding: 1rem;">
                <a style="margin:5px;" href=""><i class="fa fa-github" aria-hidden="true" style="color:#000"></i></a>
                <a style="margin:5px;" href=""><i class="fa fa-linkedin" style="color:#000"></i></a>
            </div>
        </div>
        <div class="section" id="section3">
            <div style="max-width: 500px;  max-height:500px; background-color:#FFF;padding:20px;border-radius: 3px;  ">
                <canvas id="myChart" max-width="100px" max-height="200px"></canvas></div>
            <h1>One Image = One thousand words</h1>
        </div>
    </div>


    <script>
    </script>


</body>

</html>