<!DOCTYPE html>
<html>

<head>

    <title>Diego Rodríguez</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />


    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <!--<script src="js/scrolloverflow.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/portfolio.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>

    <!--<script src="js/jquery.slimscroll.js"></script>-->

</head>

<body>
    <div id="fullpage">
        <div class="section " id="section0">
            <video poster="assets/imgs/background.png" id="myVideo" loop muted data-autoplay>
                <source src="assets/video/b.mp4" type="video/mp4">
                <source src="assets/video/b.webm" type="video/webm">
		    </video>
            <div class="layer">
                <h1 class="title_section0">Diego Rodríguez</h1>
                <h3 class="subTitle_section0">Software Engineer</h3>
            </div>
        </div>
        <div class="section" id="section1">

            <h1 class="about_Title_b">About</h1>

            <!-- <div style="background-color: #FFF;height: 2px;width: 60%;margin:20px auto 40px auto; "></div> -->
            <div class="leftDiv">
                <h3 class="about_subTitle_b">Me</h3>
                <img class="picture" src="assets/imgs/pic.png">

                <p class="about_Text_b">I’m a software developer based on Toronto, passionate about software and technology, love front and back end development likewise, however more important interested in problem solving.</p>
            </div>
            <div id="rigthDivId" class="rigthDiv">
                <h3 class="about_subTitle_b">My skills</h3>
                <canvas id="myChart"></canvas>
            </div>

            <div class="pageFooter">
                <a class="socialLinks" href="https://github.com/digma89"><i class="fa fa-github"></i></a>
                <a class="socialLinks" href="https://www.linkedin.com/in/diego-rodr%C3%ADguez-283ba5126"><i class="fa fa-linkedin" ></i></a>
            </div>
        </div>
        <div class="section" id="section2">
            <h1 class="about_Title_b">Projects</h1>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".web">Web</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".java">Android/Java</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".game">Games</a></li>
            </ul>
            <!--/#portfolio-filter-->
            <section>
                <div class="row" style="width: 90%; margin:auto ">
                    <div class="portfolio-items">
                        <div class="portfolio-item java col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">Samsung Heroes</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1008">
                                        <img src="assets/imgs/portfolio/recent/8-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item web col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">T8cho Website</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1003">
                                        <img src="assets/imgs/portfolio/recent/3-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item game col-xs-3 col-sm-3 col-md-3 .col-lg-3  .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">Alien Quest</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1005"><img src="assets/imgs/portfolio/recent/5-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item web game col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">The Lost Sword</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1002"> <img src="assets/imgs/portfolio/recent/2-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item web col-xs-3 col-sm-3 col-md-3 .col-lg-3  .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">Avaluos Naufal Website</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1001"> <img src="assets/imgs/portfolio/recent/1-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item game web col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">T&J Chase</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1006"> <img src="assets/imgs/portfolio/recent/6-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item web col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">Old Portfolio</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1004"><img src="assets/imgs/portfolio/recent/4-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->
                        <div class="portfolio-item java col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <p class="project_title">MP3 Setter</p>
                                <p class="project_view"><i class="fa fa-eye"></i> View</p>
                                <div class="overlay">
                                    <a class="preview" href="/projects/1007"><img src="assets/imgs/portfolio/recent/7-1.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->
                    </div>
                </div>
            </section>
            <!--/#portfolio-item-->

            <div class="pageFooter">
                <a class="socialLinks" href="https://github.com/digma89"><i class="fa fa-github"></i></a>
                <a class="socialLinks" href="https://www.linkedin.com/in/diego-rodr%C3%ADguez-283ba5126"><i class="fa fa-linkedin" ></i></a>
            </div>
        </div>
        <div class="section" id="section3">
            <h1>Hola mundo </h1>
        </div>

    </div>

</body>

</html>