<!DOCTYPE html>
<html>

<head>

    <title>Diego Rodríguez</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />


    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <!--<script src="js/scrolloverflow.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/portafolio.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>

    <!--<script src="js/jquery.slimscroll.js"></script>-->

</head>

<body>
    <div id="fullpage">
        <div class="section " id="section0">
            <video poster="assets/imgs/background.png" id="myVideo" loop muted data-autoplay>
                <source src="assets/video/b.mp4" type="video/mp4">
                <source src="assets/video/b.webm" type="video/webm">
		    </video>
            <div class="layer">
                <h1 class="title_section0">Diego Rodríguez</h1>
                <h3 class="subTitle_section0">Software Engineer</h3>
            </div>
        </div>
        <div class="section" id="section1">

            <h1 class="about_Title_b">About</h1>

            <!-- <div style="background-color: #FFF;height: 2px;width: 60%;margin:20px auto 40px auto; "></div> -->
            <div class="leftDiv">
                <h3 class="about_subTitle_b">Me</h3>
                <img class="picture" src="assets/imgs/pic.png">

                <p class="about_Text_b">I’m a software developer based on Toronto, passionate about software and technology, love front and back end development likewise, however more important interested in problem solving.</p>
            </div>
            <div id="rigthDivId" class="rigthDiv">
                <h3 class="about_subTitle_b">My skills</h3>
                <canvas id="myChart"></canvas>
            </div>

            <div class="pageFooter1">
                <a class="socialLinks" href="https://github.com/digma89"><i class="fa fa-github"></i></a>
                <a class="socialLinks" href="https://www.linkedin.com/in/diego-rodr%C3%ADguez-283ba5126"><i class="fa fa-linkedin" ></i></a>
            </div>
        </div>
        <div class="section" id="section2">
            <h1 class="about_Title_b">Portafolio</h1>


            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".web">Web</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".android">Andorid</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".java">Java</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".games">Games</a></li>
            </ul>
            <!--/#portfolio-filter-->
            <section>
                <div class="row" style="width: 90%; margin:auto ">
                    <div class="portfolio-items">
                        <div class="portfolio-item web col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/avaluosN.png" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3>Avaluos Naufal website</h3>
                                        <a class="preview" href="/projects/1001"><i class="fa fa-eye"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item android col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item2.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item col-xs-3 col-sm-3 col-md-3 .col-lg-3  .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item3.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item android col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item4.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item android col-xs-3 col-sm-3 col-md-3 .col-lg-3  .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item5.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item java col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item6.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item java col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item7.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->

                        <div class="portfolio-item java col-xs-3 col-sm-3 col-md-3 .col-lg-3 .col-xl-3 nopadding">
                            <div class="recent-work-wrap">
                                <img src="images/portfolio/recent/item8.png" alt="">
                            </div>
                        </div>
                        <!--/.portfolio-item-->
                    </div>
                </div>
            </section>
            <!--/#portfolio-item-->

            <div class="pageFooter">
                <a class="socialLinks" href="https://github.com/digma89"><i class="fa fa-github"></i></a>
                <a class="socialLinks" href="https://www.linkedin.com/in/diego-rodr%C3%ADguez-283ba5126"><i class="fa fa-linkedin" ></i></a>
            </div>
        </div>
        <div class="section" id="section3">
            <h1>Hola mundo </h1>
        </div>

    </div>

</body>

</html>