<!DOCTYPE html>
<html>

<head>

    <title>Diego Rodríguez</title>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/portafolio.js"></script>

</head>

<body>
    <div id="fullpage">
        <div class="section " id="section0">
            <video poster="assets/imgs/background.png" id="myVideo" loop muted data-autoplay>
                <source src="assets/video/b.mp4" type="video/mp4">
                <source src="assets/video/b.webm" type="video/webm">
		    </video>
            <div class="layer">
                <h1 class="title_section0">Diego Rodríguez</h1>
                <h3 class="subTitle_section0">Software Engineer</h3>
            </div>
        </div>
        <div class="section" id="section1">
            <div style="width: 70%; margin:auto">
                <div style="width: 50%;float:left;"> <img class="picture" src="assets/imgs/pic.png"></div>
                <div style="width: 50%;float:right;">
                    <h1 class="about_Title">About</h1>
                    <div style="background-color: #FFF;height: 2px;width: 75%;margin: auto; "></div> <br />for a lovely page
                </div>
            </div>

        </div>
        <div class="section" id="section2">
            <img class="picture" src="assets/imgs/pic.png">
            <h1>Totally customizable</h1>
        </div>
        <div class="section" id="section3">
            <h1>One Image = One thousand words</h1>
        </div>
    </div>





</body>

</html>